<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ajio Automation Suite" verbose="1" parallel="false" thread-count="1">
  <test name="Ajio End-to-End Tests">
    <classes>
      <class name="com.ajio.tests.LoginAjio"/>
      <class name="com.ajio.tests.SearchAjio"/>
      <class name="com.ajio.tests.AddToCartAjio"/>
      <class name="com.ajio.tests.CartQuantityAjio"/>
      <class name="com.ajio.tests.RemoveFromCartAjio"/>

    <class name="com.ajio.tests.SmokeTest"/>

      <class name="com.ajio.tests.CheckoutAjio"/>
    </classes>
  </test>
</suite>